<!DOCTYPE html>
<html>
<head>
    <title>Tip Calculator</title>
</head>
<body>
    <h1>Welcome to the tip calculator.</h1>
    <form method="POST">
        <label for="total">What was the total bill? $</label>
        <input type="text" name="total" required><br><br>

        <label for="tip">What percentage tip would you like to give? 10, 12, or 15?</label>
        <input type="text" name="tip" required><br><br>

        <label for="people">How many people to split the bill?</label>
        <input type="text" name="people" required><br><br>

        <input type="submit" value="Calculate">
    </form>
</body>
</html>
